<video
  id="player"
  class="video-js vjs-default-skin vjs-flex vjs-big-play-centered"
  controls
>
  <p class="vjs-no-js">
    To view this video, please enable JavaScript and consider upgrading to a web browser
    that <a href="https://videojs.com/html5-video-support">supports HTML5 video</a>.
  </p>
</video>
