/**
 * @file
 * Styles for the media entity edit form.
 * @todo Use new CSS grid or flexbox instead of absolute positioning.
 */

#edit-clip-editor {
  background-color: #333;
  padding: 20px;
  position: relative;
}

#edit-clip-editor label {
  color: white;
}

#edit-clip-editor input[type="submit"] {
  background-color: #555;
  color: white;
}

#edit-clip-editor input[type="text"] {
  background-color: #222;
  color: white;
}

#edit-clip-editor #player {
  width: 640px;
  height: 360px;
  background-color: black;
}

#edit-clip-editor #edit-timestamps {
  position: relative;
  width: 640px;
  height: 30px;
}

#edit-clip-editor #edit-timestamps input {
  font-size: 14px;
  height: 20px;
  min-height: auto;
  border: 0;
}

#edit-clip-editor #edit-timestamps .form-item {
  position: absolute;
  top: 0;
  width: 100px;
  margin: 0;
}

#edit-clip-editor #edit-timestamps .form-item.form-item--clip-in-ts {
  left: 0;
}

#edit-clip-editor #edit-timestamps .form-item.form-item--clip-current-ts {
  left: 260px;
}

#edit-clip-editor #edit-timestamps .form-item.form-item--clip-out-ts {
  right: 0;
}

#edit-clip-editor #edit-control-buttons {
  position: relative;
  width: 640px;
  height: 50px;
}

#edit-clip-editor #edit-control-buttons input {
  position: absolute;
  top: 0;
  margin: 0;
}

#edit-clip-editor #edit-control-buttons input#edit-goto-in {
  left: 0;
}
#edit-clip-editor #edit-control-buttons input#edit-set-in {
  left: 70px;
}

#edit-clip-editor #edit-control-buttons input#edit-previous {
  left: 175px;
}
#edit-clip-editor #edit-control-buttons input#edit-play {
  left: 245px;
}
#edit-clip-editor #edit-control-buttons input#edit-play-in-out {
  left: 315px;
}
#edit-clip-editor #edit-control-buttons input#edit-next {
  left: 395px;
}

#edit-clip-editor #edit-control-buttons input#edit-set-out {
  right: 75px;
}
#edit-clip-editor #edit-control-buttons input#edit-goto-out {
  right: 0;
}

#clips-wrapper {
  position: absolute;
  top: 20px;
  left: 680px;
  width: 800px;
  max-height: 445px;
  overflow: auto;
}

#edit-clip-editor #clips-wrapper table {
  margin: 0;
}

#edit-clip-editor #clips-wrapper th {
  background-color: #777;
  color: white;
}

#edit-clip-editor #clips-wrapper tr {
  background-color: #444;
  color: white;
}

#edit-clip-editor #clips-wrapper tr.even {
  background-color: #4a4a4a;
}
